:root{
  padding: 0;
  margin: 0;
}

.App {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: var(--firstColor);
  color: rgb(255, 255, 255);
  background-image: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.575),
    rgba(0, 0, 0, 0.712)
  ), 
  url(
    'https://res.cloudinary.com/gescobar/image/upload/v1675080525/portfolio/fondo_portfolio_p7yoxb.webp'
    );
  overflow: hidden;
  min-height: 100vh;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100% 100%;
  /* background-image: linear-gradient(#000000, #645959) */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pantallas grandes (Computadoras) */
@media (max-width: 992px){

}

/* Pantallas dispositivos medianos (Tablets) */
@media (max-width: 768px){

}

/* Pantallas dispositivos pequeños  (Telefonos) */
@media (max-width: 576px){
  .App {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: var(--firstColor);
    color: rgb(255, 255, 255);
    background-image: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.575),
      rgba(0, 0, 0, 0.712)
    ), 
    url(
      'https://res.cloudinary.com/gescobar/image/upload/v1675080675/portfolio/fondo_portfolio_cel_qbwkud.webp'
      );
    overflow: hidden;
    min-height: 100vh;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-image: linear-gradient(#000000, #645959) */
    
  }
}
