.divAbout{
  box-sizing: border-box;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.pAbout{
  font-size: 1.4rem;
  margin-right: 5%;
  /* margin-top: 10%; */
  text-align: justify;
}

.divGlobAbout{
  width: 70%;
  border: 1px solid transparent;
  margin-left: 15%;
  /* margin-top: 15%; */
  
}

