.divProjects{
  display: flex;
  /* border: 1px solid salmon; */
  margin: 2% 2% 5% 2%;
  background-color: rgba(41, 40, 40, 0.575);
  /* padding: 1%; */
  border-radius: 20px;
  /* box-shadow: 1px 0px 5px var(--secondColor); */
}

#nameResponsive{
  display: none;
}

.imgProjects{
  width: 95%;
  margin: 2% 5% 2% 2%;
  border-radius: 20px;
}

.h4Projects{
  /* border: 1px solid blue; */
  font-size: 1.3rem;
  text-shadow: 1px 1px 5px var(--secondColor);
}

.pProjects{
  display: block;
  /* border: 1px solid rgb(21, 255, 0); */
  width: 100%;
  text-align: justify;
  font-size: 1.2rem;
}

.divTextProjects{
  /* border: 1px solid green; */
  width: 33%;
}

.divImgProjects{
  /* border: 1px solid rgb(128, 0, 0); */
  width: 65%;
}

.iconProject{
  top: 0;
  width: 10%;
  /* border: 1px solid salmon; */
  margin-right: 5%;
  position: relative;;

}


/* Pantallas grandes (Computadoras) */
@media (max-width: 992px){

}

/* Pantallas dispositivos medianos (Tablets) */
@media (max-width: 768px){

}

/* Pantallas dispositivos pequeños  (Telefonos) */
@media (max-width: 576px){
  .divProjects{
    display: block;
    /* border: 1px solid salmon; */
    margin: 2% 2% 10% 2%;
  }
  
  .imgProjects{
    width: 95%;
    border-radius: 20px;
  }
  
  .h4Projects{
    display: none;
  }
  
  .pProjects{
    display: block;
    /* border: 1px solid rgb(21, 255, 0); */
    width: 100%;
    text-align: justify;
    font-size: 1.2rem;
  }
  
  .divTextProjects{
    /* border: 1px solid green; */
    margin-left: 2.5%;
    width: 95%;
  }
  
  .divImgProjects{
    /* border: 1px solid rgb(128, 0, 0); */
    width: 100%;
  }
  
  .iconProject{
    top: 0;
    width: 10%;
    /* border: 1px solid salmon; */
    margin-right: 5%;
    position: relative;
    margin-bottom: 5%;
  }

  #nameResponsive{
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border: 1px solid green; */
    padding-top: 3%;
    text-shadow: 1px 1px 5px var(--secondColor);

  }
}